html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #7FFFD4;
    overflow: hidden; 
}

.pickButton{
    width: 100%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    padding: 12px 24px;
    border: 0;
    color: #ededfd;
    background: #0c380c;
    line-height: 1;
    font-size: 15px;
    background: linear-gradient(to middle-center, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
}

.pickButton option:first-child {
    color: gray;
    display: none; /* Hide the default option */
}


.Locatebuttons{
    
    width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    color: #0c380c;
    padding: 0%;
    background: #7bf0d8;
    line-height: 1;
    font-size: 16px;
    height: 43px;
    border: solid #0c380c;
    
    
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
    
}
select{
    appearance: none;
}


.InputBox {
    width: 100%;
    margin-top: 4px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    line-height: 1;
    border: 2px solid #a0dcf0;
    margin-left: 3px;
    background: #a0dcf0;
    display: block;
    height: 35px;
    box-shadow: rgba(12, 12, 12, 0.1) 0px 10px 50px;
    color: #797676;
    font-size: 16px;
    font-weight:600;
}
.InputBox:focus {
    border-color: #a0dcf0; /* Maintain the original border color */
    outline: none;
}


input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: none;
    box-sizing: border-box;
    margin: 0px;
    padding: initial;
    border: initial;
}

.CheckboxDiv{
    border: solid;
    background: #7bf0d8;
    width: 100%;
    height: 41px;
    text-align: center;
    
    display: inline-block;
    
    border: solid #0c380c;
}

.CheckboxDiv .checkbox-image{
    width: 100%;
    height: 100%;
    
}

.clicked {
    background-color: #1d9476; /* Change this to your desired color */
}

/* CSS for modified search suggestion box */
.Suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #a0dcf0; 
    border: 1px solid #a0dcf0; 
    border-top: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-height: 200px;
    overflow-y: auto;
    margin-left: 3px;
  }
  
  .Suggestions li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

#logo{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#enterQRDiv{
    margin-top: 4px;
    display: flex;
    background: #a0dcf0;
    flex-direction: row;
}
#searchBarFullDiv{
    display: flex;
    flex-direction: row;
    background: #a0dcf0;

}

#locateDiv{
    width: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
    
    border: solid;
    border-color: #0c380c;
    border-radius: 5px;
};


#qrButton{ 
   
    padding: 0;
    background: 'none';
   
}

#QRLogo{
    background: #a0dcf0;
    margin-top: 8px;
    margin-right: 4px;
    width: '100%';
    padding: 0;
    cursor: pointer;
    border:  #a0dcf0;
    height: '44px'
}



.sticky-div {
    position: fixed;
    
    width: 100%;
    background-color:#999999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* You can adjust the z-index based on your needs */
  
}




